.navbar {
  background-color: #014aad;
  border-bottom: 1px solid white;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 3;

  .wrapper{
    display: flex;

    .left{
      margin-right: auto;

      .link{

        img{
          width: 100px;
          padding-bottom: 10px;
        }

      }
    }

    .center{
      width: 100%;
      position: relative;



    }





    .right {
      display: flex;
      align-items: center;


      .item {
        margin-right: 30px;


        .link {
          color: white;
          font-weight: bold;
          text-decoration: none;
          font-size: 18px;
        }
      }

      .icon{
        color: white;
        padding-right: 2px;
        padding-top: 2px;
      }


    }




  }
}



@media screen and (max-width: 768px) {
  .navbar{

    .wrapper {
      flex-direction: column;
      padding-bottom: 25px;


      .right {
        order: 1;
        width: 100%;
        margin: auto;
        padding-left: 20px;
        padding-top: 20px;

        .item{
          gap: 20px;

          .link{
            font-size: 13px;
          }
        }

        .icon{
          font-size: 18px;
          color: white;
          padding-right: 2px;
          padding-top: 2px;
        }

      }


      .center {
        background-color: white;


      }

      .left {
        order: -2;
        margin: auto;

        .link{

          img{
            display: none;
            width: 7vh;
            padding-bottom: 10px;
          }

        }

      }
    }
  }


}