.forum-navbar {
  background-color: #014aad;
  border-bottom: 1px solid white;

.dialog{
  .dialog-content{
    #dialog-login {
      background-color: red;
      // Your CSS styles here
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
      }

      button.login-to-continue {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

  }

}




  .wrapper{
    display: flex;

    .left{
      margin-right: auto;

      .link{

        img{
          width: 100px;
          padding-bottom: 10px;
        }

      }
    }

    .center{
      width: 100%;
      position: relative;

      .search-box{
        padding-top: 20px;
        position: relative;

        .row{
          display: flex;
          align-items: center;

          input {
            width: 100%;
            max-width: 400px;
            height: 30px;
            font-size: 14px;
            padding: 6px;
            border: 1px solid #ccc;
            border-radius: 10px 0px 0px 10px;
            margin-top: 14px;
            margin-left: 30px;
          }
          .searchIcon {
            font-size: 1.3em;
            background-color: #ffda00;
            padding: 11.5px;
            border-radius: 0px 10px 10px 0px;
            color: white;
            cursor: pointer;
            margin-top: 14px;

          }
        }


        .result-box{
          position: absolute;
          color: white;
          text-decoration: none;
          width: 100%;
          max-width: 450px;
          margin-left: 2.5vh;
          z-index: 1;

          ul {
            margin-top: 0;
            padding: 0;
            margin-right: 20vh;
            width: 100%;
            max-width: 409px;
          }
          li{
            padding: 0px;
            border-bottom: 1px solid #999;
            list-style: none;
            cursor: pointer;
            text-align: left; // Align text to the left

            &:hover {
            }
          }


          .card{
            margin: 0;
            font-size: 10px;
            width: 100%;
            max-width: 390px;
            padding: 10px 10px 10px 10px;

            &:hover {
              background-color: #41403d;
              .card-title{
                color: white;
              }
            }

            .card-price{
              display: none;
            }

            button{
              display: none;
            }

            .card-text{
              display: none;
            }

            .card-image{
              display: none;
            }

          }



        }

      }

    }





    .right {
      display: flex;
      align-items: center;


      .item {
        margin-right: 30px;
        cursor: pointer;

        h1{
          color: white;
          font-size: 25px;
        }


        .link {
          color: white;
          font-weight: bold;
          text-decoration: none;
          font-size: 18px;
        }

        .profile-pic{
          width: 50px;
          border-radius: 50%;
          border: 4px solid #FFDA00;
        }

      }

      .icon{
        color: white;
        padding-right: 2px;
        font-size: 4vh;
        .addIcon{
          padding-top: 10px;
          font-size: 40px;
        }
      }




    }




  }
}



@media screen and (max-width: 768px) {
  .forum-navbar{

    .wrapper {
      flex-direction: column;
      padding-bottom: 25px;


      .right {
        order: 1;
        width: 100%;
        margin: auto;
        padding-left: 55px;
        padding-top: 20px;

        .item{
          gap: 20px;
          h1{
            font-size: 18px;
          }

          .profile-pic{
            margin-right: 35px;
            margin-left: -10px;
            height: 40px;
            width: 40px;
          }
        }

        .icon{
          .addIcon{
            font-size: 30px;
          }
        }

      }


      .center {

        .search-box{
          padding-right: 30px;
          padding-bottom: 20px;
          padding-top: 2vh;
          margin: auto;
        }
      }

      .left {
        // background-color: blue;
        order: -2;
        margin: auto;

        .link{

          img{
            display: none;
            width: 20vh;
            padding-bottom: 10px;
          }

        }

      }
    }
  }


}