.comment {
  margin: auto;
  width: 70%;
  height: 28vh;
  background-color: white;
  padding: 40px;
  border-bottom: 1px solid grey;

  .comment-wrapper {
    display: flex;
    flex-direction: column;

    .comment-top {
      display: flex;
      padding-top: 50px;

      .comment-top-left {
        display: flex;

        h1{
          color: #014AAD;
          padding-top: 15px;
          padding-left: 20px;
          font-size: 20px;
        }
        h2{
          padding-top: 11px;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 20px;
        }

        p{
          color: #014AAD;
          padding-top: 13px;
          font-size: 18px;
        }



        img {
          width: 90px;
          height: 90px;
          object-fit: cover;
          border-radius: 50%;

        }


      }

      .comment-top-right {
        margin-left: auto;

        .MoreHorizonIcon{
          padding-top: 20px;
          font-size: 50px;

        }
      }
    }

    .comment-center {
      display: flex;
      flex-direction: column;
      text-align: left;

      h1 {
        padding-top: 30px;
        margin-right: auto;
      }

      p {
        margin-right: auto;
        font-size: 20px;

      }
    }

    .comment-bottom {
      padding-top: 40px;
      display: flex;

      .bottom-icon{
        color: #014AAD;
        font-size: 40px;
        transition: transform 0.3s ease;
        cursor: pointer;
      }

      .liked{
        color: red;
      }

      .bottom-icon:hover{
        background-color: white;
        transform: translateY(-7px); /* Move up by 5 pixels */

      }

      p {
        padding-right: 25px;

      }
    }
  }
}

@media screen and (max-width: 768px) {
  .comment {
    margin: auto;
    width: 90%;
    height: 22vh;
    background-color: white;
    padding: 0px;
    border-bottom: 1px solid grey;


    .comment-wrapper {
      display: flex;
      flex-direction: column;

      .comment-top {
        display: flex;
        padding-top: 10px;

        .comment-top-left {
          display: flex;

          h1{
            color: #014AAD;
            padding-top: 15px;
            padding-left: 20px;
            font-size: 20px;
          }
          h2{
            padding-top: 11px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 20px;
          }

          p{
            color: #014AAD;
            padding-top: 13px;
            font-size: 18px;
          }



          img {
            width: 50px;
            height: 50px;
            padding-top: 20px;
            object-fit: cover;
            border-radius: 50%;

          }


        }

        .comment-top-right {
          margin-left: auto;

          .MoreHorizonIcon{
            padding-top: 24px;
            font-size: 40px;

          }
        }
      }

      .comment-center {
        display: flex;
        flex-direction: column;
        text-align: left;


        h1 {
          padding-top: 0px;
          margin-right: auto;
        }

        p {
          margin-right: auto;
          margin-bottom: 0px;
          font-size: 20px;

        }
      }

    }
  }

}

