.image-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
